/*
Theming for eww bar
*/

/* Polar night colors */
$nord0: #2E3440;
$nord1: #3b4252;
$nord2: #434C5E;
$nord3: #4C566A;

/* Snow storm color */
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;

/* Frost colors */
$nord7: #8FBCBB;
$nord8: #88C0D0;
$nord9: #81A1C1;
$nord10: #5E81AC;

/* Aurora Colors */
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

/* Aliases for Aurora colors */
$red: $nord11;
$orange: $nord12;
$yellow: $nord13;
$green: $nord14;
$purple: $nord15;

/* Theme colors */
$bg_color: $nord0;
$fg_color: $nord6;
$selection_bg_color: $nord2;
$selection_fg_color: $fg_color;
$hover_bg_color: $nord1;
$comment_fg_color: $nord3;

/* Other variables */
$radius: 5px;
$sep: 5px;
$animation_duration: 0.2s;

/* Cofigure CSS transitions */
* {
	transition-property: opacity, width, height, background-color, color;
	transition-duration: $animation_duration;
	transition-timing-function: ease-out;
}

window {
	background: transparent;
}

.section {
	background-color: $bg_color;
	color: $fg_color;

	padding-left: $radius;
	padding-right: $radius;

	border-radius: $radius;
}

/* Workspaces widget */
.workspace-entry.empty {
	background-color: $bg_color;
	color: $comment_fg_color;
}
.workspace-entry.occupied {
	background-color: $bg_color;
	color: $fg_color;
}
.workspace-entry.current {
	background-color: $selection_bg_color;
	color: $selection_fg_color;
}
.workspace-entry:hover {
	background-color: $hover_bg_color;
}

/* Center (window title) */
.section.center.empty {
	opacity: 0;
}

/* Right */
.separator {
	color: $comment_fg_color;
	font-weight: bold;
	font-size: 22px;
	margin: 0px $sep 0px $sep;
}
.module {
}
.module .item {
	margin-left: 2px;
	margin-right: 2px;
}

/* Control sliders */
scale {
	// border: 1px solid $red;
	padding-right: $sep;
	padding-left: $sep;
}
scale trough {
	min-height: 5px;
	min-width: 50px;
	border-radius: 10px;

	background-color: $nord1;
	box-shadow: none;
	border: none;
}
scale trough highlight {
	background-color: $nord7;
	border: 0;
	border-radius: 10px;
}
/* Hide the slider while keeping it */
scale slider {
	background: none;
	border: none;
	box-shadow: none;
}

/* Fix the width of the icons to prevent unequal and changing widths */
.controls .icon label {
	min-width: 13px;
}

/* Colors for the brightness and volume sliders and icons */
$volume-color: $orange;
$brightness-color: $yellow;

.volume .icon {
	color: $volume-color;
}
.volume highlight {
	background-color: $volume-color;
}
.brightness .icon {
	color: $brightness-color;
}
.brightness highlight {
	background-color: $brightness-color;
}

/* System info circular bars */
.system-info .circular-progress {
	background-color: $nord1;
}
.system-info .circular-progress label {
	font-size: 80%;
	margin: 5px;
}

/* System info battery */
.system-info .circular-progress.battery.low {
	color: $red;
}
.system-info .circular-progress.battery.medium {
	color: $fg_color;
}
.system-info .circular-progress.battery.high {
	color: $green;
}
.system-info .circular-progress.battery label {
	color: $fg_color;
	font-size: 80%;
	margin: 6px;
}
.system-info .circular-progress.battery label.charging {
	color: $green;
}
.system-info .circular-progress.battery label.discharging {
	color: $yellow;
}
.system-info .circular-progress.battery label.not_charging {
	color: $fg_color;
}
.system-info .circular-progress.battery label.full {
	color: $green;
}
.system-info .circular-progress.battery label.unknown {
	color: $purple;
}

/* Clock stuff */
.clock .date {
	margin-right: $sep;
}
.clock .percent {
	color: $nord8;
	margin-left: 5px;
}
.clock .percent .hour-percent {
	color: $nord10;
	margin: 5px;
}
